<section id="home" class="banner">
    <div class="anhlogo">
        <img src="../../assets/logo1.png" alt="" srcset="">
    </div>
    <div class="container-banner">
        <div class="menu">
            <ul>
                <li>
                    <a href="#home">Trang chủ</a>
                </li>
                <li>
                    <a href="#row2">Giới thiệu</a>
                </li>
                <li>
                    <a href="#list">Menu</a>
                </li>
                <li>
                    <a href="#shop">Cửa hàng</a>
                </li>
                <li>
                    <a href="#row2">Giao hàng</a>
                </li>
                <li>
                    <a href="#row2">Tin tức</a>
                </li>
                <li>
                    <a href="#row2">Tuyển dụng</a>
                </li>
                <li>
                    <a href="#lienhe">Liên hệ</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="sologan">
        CÀ PHÊ NHÉ
    </div>
    <div class="nut">
        <div class="dathang" [routerLink]="['/order']" style="cursor: pointer;">
            <a>Đặt hàng Online</a>
        </div>
        <div class="dencuahang" style="cursor: pointer;">
            <a href="#shop">Đến cửa hàng</a>
        </div>
        <div class="clear-both"></div>
    </div>
</section>
<section class="content">
    <div class="acup">
        <img src="../../assets/Paper-cup.png" alt="">
    </div>
    <div class="descreption">
        <div class="title">
            CÀ PHÊ NHÉ
        </div>
        <div class="noidung">
            <p>
                “Đi cà phê” từ lâu không chỉ đơn thuần là uống một tách cà phê mà còn là dịp gặp mặt và trò chuyện cùng bạn bè. Tại The Coffee
                House, chúng tôi trân trọng và đề cao giá trị kết nối giữa con người và trải nghiệm của khách hàng. Chúng
                tôi được truyền cảm hứng từ những tách cà phê và thức uống mình tạo ra. Chúng tôi tin tưởng mạnh mẽ rằng
                những thức uống với chất lượng tốt nhất được phục vụ trong không gian thân thiện bởi những nhân viên tận
                tâm tại The Coffee House sẽ mang lại những niềm vui bạn có thể chia sẻ cùng bạn bè và gia đình.
            </p>
        </div>
    </div>
</section>
<section class="shop" id="shop">
    <div class="left ">
        <h1>CÁC CỬA HÀNG THE HULI COFFEE</h1>
        <div class="container-shop" style="margin-top: 30px;padding: 0;">
            <a href="">
                <div class="row">
                    <div class="img">
                        <img src="../../assets/hn.jpg" alt="">
                    </div>
                    <div class="des">
                        TẠI HỒ CHÍ MINH
                        <br>Có 49 cửa hàng
                    </div>
                </div>
            </a>

            <div class="duongke"></div>
            <a href="">
                <div class="row">
                    <div class="img">
                        <img src="../../assets/hcm.jpg" alt="">
                    </div>
                    <div class="des">
                        TẠI HÀ NỘI
                        <br>Có 49 cửa hàng
                    </div>
                </div>
            </a>

            <div class="duongke"></div>
            <a href="">
                <div class="row">
                    <div class="img">
                        <img src="../../assets/dn.jpg" alt="">
                    </div>
                    <div class="des">
                        TẠI ĐÀ NẴNG
                        <br>Có 4 cửa hàng
                    </div>
                </div>
            </a>

        </div>
    </div>

    <div class="right">

        <div id="shop" class="container-shop" style="margin-top: 75px;padding: 0;">
            <a href="">
                <div class="row">
                    <div class="img">
                        <img src="../../assets/BH.jpg" alt="">
                    </div>
                    <div class="des">
                        TẠI BIÊN HÒA
                        <br>Có 1 cửa hàng
                    </div>
                </div>
            </a>

            <div class="duongke"></div>
            <a href="">
                <div class="row">
                    <div class="img">
                        <img src="../../assets/VT.jpg" alt="">
                    </div>
                    <div class="des">
                        TẠI VŨNG TÀU
                        <br>Có 1 cửa hàng
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="fix"></div>
</section>
<section class="list">
    <div class="row1" id="list">
        <div class="item">
            <div class="img">
                <img src="../../assets/cf2.jpg" alt="">
            </div>
            <div class="title-bot">
                COFFEE
            </div>
            <div class="title-top">
                <p>Espresso & Vietnamese</p>
            </div>
        </div>
        <div class="item">
            <div class="img">
                <img src="../../assets/cf3.jpg" alt="">
            </div>
            <div class="title-bot">
                COFFEE
            </div>
            <div class="title-top">
                <p>Ice Blenned</p>
            </div>
        </div>
        <div class="item">
            <div class="img">
                <img src="../../assets/cf1.jpg" alt="">
            </div>
            <div class="title-bot">
                TEA
            </div>
            <div class="title-top">
                SPECIAL
            </div>
        </div>
        <div class="item">
            <div class="img">
                <img src="../../assets/cf4.jpg" alt="">
            </div>
            <div class="title-bot">
                COCKTAIL
            </div>
            <div class="title-top">
                COCKTAIL
            </div>
        </div>
        <div class="item">
            <div class="img">
                <img src="../../assets/cf5.jpg" alt="">
            </div>
            <div class="title-bot">
                CHOCOLATE
            </div>
            <div class="title-top">
                CHOCOLATE
            </div>
        </div>
        <div class="item">
            <div class="img">
                <img src="../../assets/cf6.jpg" alt="">
            </div>
            <div class="title-bot">
                SMOOTHIES
            </div>
            <div class="title-top">
                SMOOTHIES
            </div>
        </div>

    </div>
    <div id="row2" class="row2">
        <div class="item1">
            <div class="img">
                <img src="../../assets/in1.jpg" alt="">
                <div class="descr">
                    <h4>#TALK_TO_US</h4>
                    <h3>THE COFFEE HOUSE DELIVERY</h3>
                    <p>Đặt món giao tận nơi tại https://order.thecoffeehouse.vn hoặc gọi tổng đài 1800 6936 khi bạn cần giao
                        hàng tận nơi nhé!</p>
                </div>
            </div>
        </div>
        <div class="item1">
            <div class="img">
                <img src="../../assets/in2.jpg" alt="">
                <div class="descr">
                    <h4>#WORKWITHUS</h4>
                    <h3>THE COFFEE HOUSE TUYỂN DỤNG</h3>
                    <p>The Coffee House mong muốn xây dựng thế hệ quản lý và nhân viên đam mê với cà phê và tâm huyết với ngành
                        dịch vụ. Hãy gia nhập gia đình The Coffee House ngay!</p>
                </div>
            </div>
        </div>
        <div class="fix"></div>
        <div class="item2">
            <div class="img">

                <div class="descr">
                    <h4>#THECOFFEEHOUSE_APP</h4>
                    <h3>CHƯƠNG TRÌNH ƯU ĐÃI 25% CHO ĐƠN HÀNG GIAO TẬN NƠI</h3>

                    <p>Nhân dịp ngày Quốc tế Phụ nữ, Nhà xin dành tặng bạn ưu đãi 25% cho đơn hàng giao tận nơi trên 200k. Mong
                        rằng món quà này sẽ giúp bạn có thật nhiều niềm vui trong những ngày tháng 3 rực rỡ!</p>
                </div>
                <img src="../../assets/in3.jpg" alt="">
            </div>
        </div>
        <div class="item2">
            <div class="img">

                <div class="descr">
                    <h4>#YOURFEEDBACKMATTERS</h4>
                    <h3>ĐÁNH GIÁ CHẤT LƯỢNG DỊCH VỤ THE COFFEE HOUSE</h3>
                    <p>The Coffee House trân trọng, mong muốn trải nghiệm đi cà phê của bạn tốt hơn từng ngày. Hãy để chúng
                        tôi có cơ hội được cải thiện chất lượng phục vụ bằng góp ý của bạn tại đây!</p>
                </div>
                <img src="../../assets/in4.jpg" alt="">
            </div>
        </div>
        <div class="fix"></div>
    </div>
</section>
<section id="lienhe" class="lienhe">
    <div class="form">
        <form [formGroup]="homeForm">
            <label for="">LIÊN HỆ</label>
            
            <input type="text" id="name" placeholder="Tên của bạn" formControlName= "hoten" [(ngModel)]="name">
            <div class="mistake" *ngIf="formErrors.hoten">{{formErrors.hoten}}</div>
            
            <input type="text" id="email" placeholder="Email" formControlName= "email" [(ngModel)]="mail">
            <div class="mistake" *ngIf="formErrors.email">{{formErrors.email}}</div>

            <input type="text" id="binhluan" placeholder="Viết bình luận" formControlName= "binhluan" [(ngModel)]="comment">
            <div class="mistake" *ngIf="formErrors.binhluan">{{formErrors.binhluan}}</div>

            <div class="submit" style="cursor: pointer">
                <button type="button" [routerLink]="['/home']" [disabled]= "!homeForm.valid || isSubmitting" (click)="onSubmit()">Gửi</button>
            </div>
        </form>
    </div>
    <div class="background">
    </div>
    <div class="fix"></div>
</section>
<footer>
    <div class="gioithieu">
        <h2>The Coffee House</h2>
        <p>97 Man Thiện, Quận 9, HCM</p>
        <p>Hotline : 0964 163 125</p>
        <p>Giao hàng miễn phí : 1800 6936</p>
        <p>Điều khoản bảo mật</p>

    </div>
    <hr>
    <div class="source">
        © 2014 - 2017 - NOT REGISTERED COPYRIGHT. POWERED BY HUE LINH
    </div>
</footer>